*._bootmp*
*.cache
*.doc
*.exe
*.lineno
*.log
*.o
*~
.deps
/GNUmakefile
/maint.mk
/INSTALL
Makefile
Makefile.in
/aclocal.m4
/build-aux
/config.status
/configure
/gunzip
/gzexe
/gzip
/gzip-*
/lib/arg-nonnull.h
/lib/c++defs.h
/lib/warn-on-use.h
/libver.a
/version.[ch]
/zcat
/zcmp
/zdiff
/zegrep
/zfgrep
/zforce
/zgrep
/zless
/zmore
/znew
/GNUmakefile
/maint.mk
ChangeLog
gzip.doc.gz
