*._bootmp*
*.cache
*.doc
*.lineno
*.log
*.o
*~
.deps
/GNUmakefile
/maint.mk
INSTALL
Makefile
Makefile.in
aclocal.m4
build-aux
config.status
configure
gunzip
gzexe
gzip
gzip-*
zcat
zcmp
zdiff
zegrep
zfgrep
zforce
zgrep
zless
zmore
znew
/GNUmakefile
/maint.mk
ChangeLog
gzip.doc.gz
