.deps
Makefile
Makefile.in
close-stream.c
close-stream.h
closein.c
closein.h
closeout.c
closeout.h
config.charset
config.h
config.hin
creat-safer.c
dup-safer.c
errno.in.h
error.c
error.h
exitfail.c
exitfail.h
fcntl--.h
fcntl-safer.h
fcntl.h
fcntl.in.h
fd-safer.c
fflush.c
fpending.c
fpending.h
fpurge.c
freadahead.c
freadahead.h
freading.c
freading.h
fseeko.c
ftello.c
getopt.c
getopt.in.h
getopt1.c
getopt_int.h
gettext.h
gnulib.mk
intprops.h
libgzip.a
localcharset.c
localcharset.h
lseek.c
mbrtowc.c
mbsinit.c
open-safer.c
open.c
pipe-safer.c
quotearg.c
quotearg.h
ref-add.sin
ref-del.sin
stamp-h1
stat-time.h
stdbool.in.h
stddef.in.h
stdint.in.h
stdio-impl.h
stdio-write.c
stdio.in.h
stdlib.h
stdlib.in.h
streq.h
strerror.c
string.h
string.in.h
sys
sys_stat.in.h
sys_time.in.h
time.h
time.in.h
unistd--.h
unistd-safer.h
unistd.h
unistd.in.h
utimens.c
utimens.h
verify.h
wchar.in.h
wctype.in.h
xalloc-die.c
xalloc.h
xmalloc.c
yesno.c
yesno.h
